* {
    margin: 0;
}

.container {
    display: flex;
}

.mapbox {
    flex-basis: 70%;
    height: 100vh;

}

.form {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70vh;
}

    
        
    

    .form div {
        margin: 15px;
    }

.popupTitle{
    font-size: 20px;
}

.error{
    border: 2px solid red;
}

.button {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
}




